html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  align-content: center;
  scrollbar-gutter: stable both-edges;
  background-color: var(--background);
  color: var(--color);
  font-family:
    "Iosevka Etoile",
    "Noto Color Emoji",
    Menlo,
    DejaVu Sans Mono,
    Monaco,
    Consolas,
    Ubuntu Mono,
    monospace;
  font-feature-settings: "liga";
  justify-content: stretch;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

hr {
    width: 100%;
    height: 0px;
    border-top: 1px #D79922 solid;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--accent);
  text-decoration: underline dotted;
}

.info {
  p {
    font-size: 0.8rem;
    color: var(--accent);
  }

  .author {
    font-weight: bold;
  }

  .dates {
    font-style: italic;
  }

  .readtime {
    font-style: italic;
  }
}

.main-grid {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width: $tablet-max-width) {
    border: none;
    padding-left: unset;
    padding-right: unset;
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}

.sub-grid {
  background-color: var(--background);
  display: grid;
  justify-content: start;
  grid-template-columns: 3fr 3fr;
  column-gap: 2rem;
  align-content: center;
  margin: auto;

  @media (max-width: $tablet-max-width) {
    margin: auto;
    display: flex;
    column-gap: 0;
  }

  .info {
    h1 {
      text-align: start;
    }
  }
}

.info-grid {
  display: grid;
  grid-template-rows: min-content max-content min-content;
}

.right-grid {
  display: grid;
  grid-template-rows: min-content max-content min-content;
}

.content-grid {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;

  .toc {
    display: none;
  }

  .posts {
    margin-left: 0.5em;
    justify-content: stretch;
  }

  .posts article > header {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .posts article h3 {
    font-size: 1.0em;
    display: inline-block;
    text-align: left;
    margin: 0.5em;
  }
  .posts time {
    color: var(--accent);
    font-size: 1.0em;
  }

  .posts a {
    color: var(--color);
  }
  .posts a:hover {
    color: var(--accent);
  }

  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

    .toc {
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 100%;
      border: 2px solid var(--footnote-color);
      top: 0;

      h1 {
        text-align: center;
      }

      .toc-container {
        display: block;
        height: 100%;
        position: static;
        top: unset;
        padding: 0;
      }
    }
  }
}

.footnote-definition {
  padding: 0vw 2vw 4vw 2vw;
  padding: 0em 0.8em 1.2em 0.8em;
  display: inline;

  sup {
    color: var(--color);
    font-size: 0.7em;
    position: relative;
    vertical-align: super;
  }

  p {
    color: var(--footnote-color);
  }
}

.footnote-definition:before {
  content: "\a";
  display: block;
  padding: 1.2rem;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

code {
  font-family:
    "Iosevka Fixed",
    "Noto Color Emoji",
    Menlo,
    DejaVu Sans Mono,
    Monaco,
    Consolas,
    Ubuntu Mono,
    monospace;
  margin: 0 0.1rem;
  padding: 0.1rem;
  font-size: 0.9rem;
  width: 100%;
  // overflow: auto;
  background-color: var(--inline-code-bg);
  color: var(--inline-code-fg);
  border-radius: 4px;
}

pre {
  border-radius: 0.5rem;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  border-left: 8px double var(--color);
  border-right: 2px dotted var(--color);
  overflow: auto;
  padding: 1.5rem 1.25rem;
  scrollbar-width: none;
  font-family:
    "Iosevka Fixed",
    "Noto Color Emoji",
    Menlo,
    DejaVu Sans Mono,
    Monaco,
    Consolas,
    Ubuntu Mono,
    monospace;
  font-size: 0.8rem;

  + pre {
    border-top: 0;
  }

  code {
    background: none !important;
    color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: inherit;

    table {
      table-layout: auto;
      border-collapse: collapse;
      box-sizing: border-box;
      width: 100%;
      margin: 1px 4px;
    }

    table,
    th,
    td {
      border: none;
      padding: 1px;
    }

    table tr td:first-child {
      padding-right: 10px;
    }
  }
}

img {
  display: block;
  width: 100%;
}

img:hover {
  transform: scale(1.5);
  position: relative;
  transition: 6s transform;
  z-index: 6;
  transition: 5s transform;

  @media (min-width: 0px) and (max-width: $tablet-max-width) {
    transform: unset;
    transition: unset;
  }
}

.toc {
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  top: 4.5rem;
  transition:
    mask-position 0.3s,
    -webkit-mask-position 0.3s;
  font-size: 1rem;
  display: block;

  .info {
    a {
      color: var(--accent);
      text-decoration: underline;

      &:hover {
        color: var(--color);
        text-decoration: none;
      }
    }

    p {
      font-size: 0.8rem;
      color: var(--accent);
    }

    .author {
      font-weight: bold;
    }

    .dates {
      font-style: italic;
    }

    .readtime {
      font-style: italic;
    }
  }

  @media (max-width: $tablet-max-width) {
    margin: auto;
    overflow-y: auto;
    position: static;
    width: 100%;
    display: none;
    margin-bottom: 2rem;
  }

  .toc-container {
    border-bottom: 0.2rem var(--border-color) double;
    overflow-y: auto;
    height: 50vh;
    padding: 1rem;
    width: inherit;

    @media (max-width: $tablet-max-width) {
      display: none;
    }

    ul {
      list-style-type: circle;
    }

    li {
      line-height: 1.5rem;
    }

    &:hover {
      overflow-y: auto;
    }
  }

  a {
    color: var(--color);
    text-decoration: none;

    &:hover {
      color: var(--accent);
      text-decoration: underline dotted;
    }
  }
}

footer {
  color: var(--color);
  align-content: center;
  margin: 2.3em auto 1.2em auto;
  padding-top: 0.45rem;
  padding-bottom: 0rem;
  font-size: 0.8rem;
  border-top: 2px dotted var(--accent);
  text-align: center;
  width: 100%;

  a {
    color: var(--footnote-color);
    text-decoration: none;
  }

  @media (max-width: $phone-max-width) {
    text-align: start;
  }
}

.fa-rss {
  color: var(--accent-rss);
}

.fa-rss:hover {
  color: var(--accent);
}

blockquote {
  border-top: 1px solid var(--blockquote);
  border-bottom: 1px solid var(--blockquote);
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: "";
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
    font-style: normal;
  }

  p:before {
    font-style: normal;
    content: ">";
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

#blogpage {
  display: block;
  margin-top: 3.6rem;
  justify-content: center;
  align-content: center;

  h1 {
    font-size: 1.8rem;
  }
}

/* index.html */

.content {
  display: grid;
  align-items: start;
  text-align: start;
  justify-content: start;
  word-break: break-word;

  p {
    color: var(--color);
    font-size: 1rem;
    line-height: 1.5;
    text-align: start;
  }

  li {
    line-height: 1.5;
  }

  table,
  th,
  td {
    border: 1px solid var(--accent);
    padding: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 1.5rem;
  word-break: break-word;
  color: var(--header-color);

  &:not(first-child) {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .zola-anchor {
    font-size: 1.5rem;
    visibility: hidden;
    vertical-align: 1%;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;

    @media (max-width: $phone-max-width) {
      visibility: visible;
    }
  }

  &:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1.15rem;

  &:not(first-child) {
    margin-top: 0.6rem;
  }
}

.bottom {
  padding: 5px;
  overflow-wrap: break-word;

  h2 {
    padding-bottom: 5px;
  }

  p {
    all: unset;
    font-style: italic;
    font-size: 0.95rem;
    padding: 20px;
  }

  blockquote {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    margin: 20px 0;
    padding: 15px;

    &:before {
      content: "”";
      font-size: 3.875rem;
      position: absolute;
      left: -40px;
      top: -20px;
    }

    p:first-of-type {
      margin-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    p {
      position: relative;
      font-style: normal;
    }

    p:before {
      font-style: normal;
      content: "";
      display: block;
      position: absolute;
      left: -25px;
      color: var(--accent);
    }
  }

  border: 1px solid var(--color);
  border-radius: 0.4rem;
  text-align: center;
  margin-bottom: 1.2rem;
  align-content: center;

  a {
    color: var(--color);
    text-decoration: none;
    margin: auto;
  }

  a:hover {
    color: var(--color);
    text-decoration: underline dotted;
    margin: auto;
  }
}

.bottom:hover {
  border: 2px solid var(--color);
  padding: 4px;
}

.readmore {
  padding-bottom: 40px;
}
