.webring {
    border-top: var(--accent) dotted 2px;
    word-break: break-word;
}

.webring .articles {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.webring .title {
  margin: 0;
  a {
    color: var(--webring-title);
    text-decoration: none;
    &:hover {
      text-decoration: underline dotted;
    }
  }
}

.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--webring-bg);
  min-width: 10rem;
}

.webring .summary {
  font-size: 0.8rem;
  flex: 1 1 0;
  color: var(--webring-fg);
}

.webring .attribution {
  text-align: right;
  font-size: 0.8rem;
  color: var(--color);
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline dotted;
    }
  }
}
