@media (prefers-color-scheme: dark) {
  :root {
    --accent: rgba(254, 128, 25, 1);
    --accent-rss: rgba(215, 153, 33, 1);
    --background: rgba(40, 40, 40, 1);
    --blockquote: rgba(152, 151, 26, 1);
    --border-color: rgba(90, 90, 90, 1);
    --color: rgba(235, 219, 178, 1);
    --footnote-color: rgba(184, 187, 38, 0.5);
    --header-color: rgba(104, 157, 106, 1);
    --link-color: rgba(69, 133, 136, 1);
    --webring-title: var(--color);
    --webring-fg: rgba(168, 153, 132, 1);
    --webring-bg: rgba(60, 56, 54, 1);
    --inline-code-fg: rgba(157, 0, 6, 1);
    --inline-code-bg: var(--color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: rgba(175, 58, 3, 1);
    --accent-rss: rgba(215, 153, 33, 1);
    --background: rgba(251, 241, 199, 1);
    --blockquote: rgba(181, 118, 20, 1);
    --border-color: rgba(68, 68, 68, 0.1);
    --color: rgba(60, 56, 54, 1);
    --footnote-color: rgba(121, 116, 14, 0.6);
    --header-color: rgba(66, 123, 88, 1);
    --link-color: rgba(7, 102, 120, 1);
    --webring-title: var(--color);
    --webring-fg: rgba(124, 111, 100, 1);
    --webring-bg: rgba(235, 219, 178, 1);
    --inline-code-fg: rgba(204, 36, 29, 1);
    --inline-code-bg: rgba(213, 196, 161, 1);
  }
}
