:root {
  --accent: rgba(90, 90, 90, 1);
  --accent-alpha-20: rgba(90, 90, 90, 0.2);
  --accent-alpha-70: rgba(90, 90, 90, 0.7);
  --background: rgba(40, 40, 40, 1);
  --color: rgba(235, 219, 178, 1);
  --border-color: rgba(90, 90, 90, 1);
  --footnote-color: rgba(153, 153, 153, 0.5);
  --blockquote: rgba(152, 151, 26, 1);
}
