:root {
  --accent: rgba(192, 192, 192, 1);
  --accent-alpha-20: rgba(192, 192, 192, 0.2);
  --accent-alpha-70: rgba(192, 192, 192, 0.7);
  --background: rgba(248, 248, 255, 1);
  --color: rgba(0, 0, 0, 1);
  --border-color: rgba(68, 68, 68, 0.1);
  --footnote-color: rgba(68, 68, 68, 0.5);
}
