{% macro head() %}
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
{% if page.title %}
<meta
  name="description"
  content="{{ config.title }} {{ config.description }} {{ page.title }} {{ page.description }}"
/>
<title>{{ page.title }}</title>
{% elif section.title %}
<meta
  name="description"
  content="{{ config.title }} {{ config.description }} {{ section.title }} {{ section.description }}"
/>
<title>{{ section.title }}</title>
{% elif term.name %}
<meta
  name="description"
  content="#{{ term.name }} {{ config.title }} {{ config.description }}"
/>
<title>#{{ term.name }}</title>
{% elif terms %}
<meta
  name="description"
  content="#tags {{ config.title }} {{ config.description }}"
/>
<title>#tags</title>
{% else %}
<meta
  name="description"
  content="{{ config.title }} {{ config.description }}"
/>
<title>{{ config.title }}</title>

{% endif %}
<link rel="icon" href="/{{ config.extra.favicon }}" />
<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-dark.css"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-light.css"
  media="(prefers-color-scheme: light)"
/>
{% if config.extra.theme_color != "dark" -%} {% set color = "color/" ~
config.extra.theme_color ~ ".css" -%}
<link rel="stylesheet" href="{{ get_url(path=color, cachebust=true) }}" />
{%- else -%}
<link
  rel="stylesheet"
  href="{{ get_url(path='color/dark.css', cachebust=true) }}"
/>
{% endif %} {%- if config.extra.custom_css is defined -%}
<link
  rel="stylesheet"
  href="{{ get_url(path='custom.css', cachebust=true) }}"
/>
{% endif %} {{ rss::rss() }}
<script
  src="https://kit.fontawesome.com/51d55b4c7d.js"
  crossorigin="anonymous"
></script>
<script>
  function resize() {
    var x = document.getElementById("myLinks");
    // var y = document.getElementsByClassName("subcontainer")[0];
    // var nav = document.getElementsByClassName("topnav")[0];
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  try {
    const bannedReferrers = [/news\.ycombinator\.com/i, /reddit\.com/i];
    if (document.referrer) {
      const ref = new URL(document.referrer);
      if (
        !/bad-networks/i.test(window.location.href) &&
        bannedReferrers.some((r) => r.test(ref.host))
      ) {
        window.location.href = "https://www.pcloadletter.dev/blog/bad-networks";
      }
    }
  } catch (e) {console.log(e)}
</script>

{% endmacro %}
